.App{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .contact-card{
   width: 13%;
   height: 30%;
   border: 2px solid rgb(231, 227, 227)   
  }

  .card-name{
    font-size: 15px;
    padding: 15px;
    border-bottom: 2px solid rgb(231, 227, 227)
  }

  .card-tarif{
    height: 5em;
    font-size: smaller;
    position: relative;
    padding: 15px;
  }

  .card-razmer, .card-traffic{
    padding: 15px;
  }

  .card-traffic{
    background-color: rgb(236, 234, 232);
    font-size: smaller;
  }
  
  .contact-card .card-name,
  .contact-card .card-tarif {
    color: white
  }
  
  .contact-card.blue .card-name,
  .contact-card.blue .card-tarif {
    background-color: blue;
  }
  
  .contact-card.green .card-name,
  .contact-card.green .card-tarif {
    background-color: green;
  }
  
  .contact-card.red .card-name,
  .contact-card.red .card-tarif {
    background-color: red;
  }
  
  .contact-card.black .card-name,
  .contact-card.black .card-tarif {
    background-color: black;
  }

  .mesyaz {
    font-size: 3em;
}
.dengi {
   position: absolute;
   left: 10%
}